body {
    font-family: Arial, sans-serif;
    padding: 20px;
    background-color: #ffffff; /* Fondo principal */
}
.navbar-brand img {
  max-width: 50px; /* Ajusta el ancho máximo del logo */
  height: auto;
  position: static;
  margin-right: 20px; /* Espacio a la derecha del logo */
}


.titulo {
    text-align: center;
    font-size: 50px;
    margin-top: 20px; /* Aumentado el margen superior */
    text-decoration: underline;
    color: #000000; /* Color de texto */
}

.text {
    font-size: 18px; /* Reducido el tamaño del texto para mayor legibilidad */
    line-height: 1.6; /* Espaciado entre líneas */
    text-align: justify;
    text-align-last: start;
    margin: 20px auto;
    max-width: 800px; /* Ajustado el ancho máximo del texto */
    padding: 0 20px;
    color: #000000; /* Color de texto */
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px; /* Espacio entre cajas */
}

.box {
  width: 200px;
  padding: 20px;
  background-color: #B1AFFF; /* Fondo de las cajas */
  border-radius: 10px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15); /* Sombra mejorada */
  transition: transform 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease; /* Transiciones para transformaciones, sombra y color de fondo */
  margin: 10px; /* Añade un margen para separar las cajas entre sí */
}

.box:hover {
  transform: translateY(-15px) rotate(2deg); /* Efecto de levantar y rotar al pasar el ratón */
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3); /* Sombra aumentada al hacer hover */
  background-color: #A89BFF; /* Color de fondo más oscuro al hacer hover */
}

.box-img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin: 0 auto 15px; /* Margen inferior de la imagen aumentado */
  display: block;
  background-color: #FFE9D0; /* Fondo de la imagen */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra mejorada */
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* Transiciones para transformaciones y sombra */
}

.box-img:hover {
  transform: scale(1.15) rotate(5deg); /* Efecto de agrandar y rotar al hacer hover */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Sombra aumentada al hacer hover */
}

.box-title {
  font-size: 1.2em;
  margin-bottom: 10px; /* Margen inferior del título aumentado */
  color: #00438F; /* Color del título */
  text-align: center; /* Alineación centrada del título */
  transition: color 0.3s ease, transform 0.3s ease; /* Transiciones para el color y transformaciones */
}

.box-title:hover {
  color: #002a5e; /* Cambio de color del título al hacer hover */
  transform: scale(1.05); /* Aumenta ligeramente el tamaño del título al hacer hover */
}

.box-description {
  font-size: 0.9em; /* Tamaño del texto de descripción */
  color: #000000; /* Color del texto de descripción */
  text-align: center; /* Alineación centrada del texto */
  transition: color 0.3s ease, transform 0.3s ease; /* Transiciones para el color y transformaciones */
}

.box-description:hover {
  color: #333333; /* Cambio de color del texto de descripción al hacer hover */
  transform: translateY(-2px); /* Mueve ligeramente el texto hacia arriba al hacer hover */
}


.navbar {
    background-color: #B1AFFF!important; /* Ajusta el valor alpha (0.9) según tu preferencia */
    border-radius: 20px;
    padding: 0.5rem 2rem;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 10);
    border-radius: 50px; 
  }
  .navbar .navbar-brand {
    color: #ffffff !important; /* Color blanco para el texto */
  }
  
  
  .navbar .navbar-nav .nav-link {
    color: #ffffff !important;
  }
  .navbar .navbar-brand:hover {
    color: rgb(0, 0, 0) !important; /* Color azul claro al pasar el mouse */
  }
  
  
  .navbar .navbar-nav .nav-link:hover {
    color: rgb(0, 0, 0) !important;
  }
  
  @media (max-width: 768px) {
    .navbar .container {
      max-width: 100%;
    }
  
    .navbar .navbar-toggler {
      display: block;
    }
  
    .navbar .navbar-collapse {
      display: none;
      text-align: center;
    }
  
    .navbar .navbar-collapse.show {
      display: block;
    }
  
    .navbar .navbar-nav {
      width: 100%;
      display: block;
      border-top: 1px solid #eee;
      margin-top: 1rem;
    }
  
    .navbar .navbar-nav .nav-item {
      border-bottom: 1px solid #eceef3;
    }
  }
  .dropdown-menu {
    background-color: rgba(180, 105, 230, 0.8); /* Morado semi-transparente */
    border: none; /* Quitamos el borde */
  }
  
  .dropdown-menu a.dropdown-item {
    color: #ffffff; /* Color de texto blanco */
  }
  
  .dropdown-menu a.dropdown-item:hover {
    background-color: rgba(0, 0, 0, 0.2); /* Cambio de color al pasar el mouse */
  }
  
  .dropdown-divider {
    background-color: #ffffff; /* Color de las divisiones */
  }
  
  .dropdown-menu .dropdown-divider:last-child {
    display: none; /* Ocultar última línea de división */
  }
  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  :root{
    scroll-behavior: smooth;
  }
  
  html, body {
    height: 100%;
  }
  
  body {
    display: flex;
    flex-direction: column;
    font-family: 'Open Sans', sans-serif;
  }
  
  .contenedor{
    width: 90%;
    max-width: 1200px;
    overflow: hidden;
    margin: auto;
    padding: 60px 0;
    flex: 1 0 auto;
  }
  
  .header{
    height: 100vh;
   
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  
  .head{
    padding: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    color: #070505;
  }
  
  .hamburguer{
    position: fixed;
    top: 30px;
    right: 10px;
    background: #fff;
    width: 40px;
    height: 40px;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 0 0 6px rgba(0, 0, 0, .5);
  }
  
  .menu-navegacion{
    position: fixed;
    top: 0;
    width: 10vw;
    height: 100%;
    background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    right: 0;
    transform: translateX(110%);
    transition: transform 0.3s ease-in-out;
    box-shadow: 0 0 6px rgba(0, 0, 0, .5);
  }
  
  .spread{
    transform: translateX(0);
  }
  
  .menu-navegacion a{
    color: #fff;
    text-decoration: none;
  }
  
  .titulo{
    font-size: 60px;
    margin-bottom: 15px;
  }
  
  .copy{
    font-weight: 300;
    font-size: 25px;
  }
  
  .subtitulo{
    color: #9f8ad0;
    font-size: 40px;
    text-align: center;
    font-weight: 300;
    margin-bottom: 30px;
  }
  
  .contenedor-servicio{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
  }
  
  .contenedor-servicio img{
    width: 40%;
  }
  
  .checklist-servicio{
    width: 45%;
  }
  
  .service{
    margin-bottom: 20px;
  }
  
  .n-service{
    margin-bottom: 7px;
    color: #9f8ad0;
  }
  
  .number{
    display: inline-block;
    background-image: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%);
    line-height: 30px;
    text-align: center;
    border-radius: 50%;
    margin-right: 5px;
    width: 30px;
    height: 30px;
    color: #fff;
    font-weight: 700;
  }
  
  .gallery{
    background: #f2f2f2;
  }
  
  .contenedor-galeria{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 30px;
  }
  
  .video-galeria{
    width: 30%;
    display: block;
    margin-bottom: 15px;
    box-shadow: 0 0 6px rgba(0, 0, 0, .6);
    cursor: pointer;
  }
  
  .imagen-light{
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.534);
    transform: translate(100%);
    transition: transform .2s ease-in-out;
  }
  
  .agregar-video{
    width: 60%;
    transform: scale(0);
    border-radius: 10px;
    transition: transform .3s .2s;
  }
  
  .showVideo{
    transform: scale(1);
  }
  
  .show{
    transform: translate(0);
  }
  
  .close{
    position: absolute;
    top: 15px;
    right: 15px;
    width: 40px;
    cursor: pointer;
  }
  
  .experts{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
  }
  
  .cont-expert{
    width: 30%;
    text-align: center;
    margin-bottom: 20px;
  }
  
  .cont-expert img{
    display: block;
    width: 60%;
    margin: auto;
    border-radius: 50%;
    margin-bottom: 10px;
  }
  
  .cont-expert h3{
    color: #a18cd1;
  }
  
  footer {
    background: #9f8ad0;
    padding: -5px 0; /* Reducido el padding superior e inferior */
    margin: 0; /* Eliminado el margen inferior */
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 0px 0; /* Reducido el padding superior e inferior */
}

.contact-us {
    width: 40%;
    color: #fff;
    text-align: center; /* Centrando el texto */
}

.brand {
    font-weight: 500;
    font-size: 30px; /* Reducido el tamaño de la fuente */
}

.brand + p {
    font-weight: 500;
}

.social-media {
    width: 50%;
    display: flex;
    justify-content: flex-end;
}

.social-media-icon {
    display: inline-block;
    margin-left: 15px; /* Reducido el margen izquierdo */
    width: 40px; /* Reducido el tamaño */
    height: 40px; /* Reducido el tamaño */
    border: 1px solid #fff;
    border-radius: 50%;
    text-align: center;
    color: #fff;
}

.social-media-icon i {
    font-size: 20px; /* Reducido el tamaño del ícono */
    line-height: 40px; /* Alineado con el tamaño del contenedor */
}

.social-media-icon:hover {
    background: #fff;
    color: #764ba2;
}

.line {
    width: 90%;
    max-width: 1200px;
    margin: auto;
    height: 1px; /* Reducido el grosor de la línea */
    background: #fff;
    margin-bottom: 30px; /* Reducido el margen inferior */
}
  
  .social-media-icon:hover{
    background: #fff;
    color: #764ba2;
  }
  
  @media screen and (max-width: 800px){
    .footer-content{
        justify-content: center;
        padding: 20px 0;
    }
  
    .social-media{
        width: 80%;
        justify-content: space-evenly;
    }
  
    .social-media-icon{
        margin-left: 0;
        width: 40px;
        height: 40px;
    }
  
    .contact-us{
        text-align: center;
        width: 80%;
        margin-bottom: 20px;
    }
  }
  