.navbar-brand img {
  max-width: 60px; 
  height: auto;
  position: relative; 
  transition: transform 0.3s ease-in-out; /* Agregar transición suave */
}

.navbar-brand img:hover {
  transform: scale(1.1); /* Escalar al pasar el ratón */
}

.carousel-item img {
  width: 100%;
  height: auto;
  object-fit: cover;
  transition: opacity 0.5s ease-in-out; /* Transición de opacidad */
}

.carousel-item-next,
.carousel-item-prev {
  opacity: 0;
}

.carousel-item-next.carousel-item-next,
.carousel-item-prev.carousel-item-prev {
  opacity: 1;
}

.carousel-control-prev,
.carousel-control-next {
  width: 3%;
  background-color: rgba(0, 0, 0, 0.8);
  color: #007bff;
  transition: background-color 0.3s ease;
}

.carousel-control-prev:hover,
.carousel-control-next:hover {
  background-color: rgba(0, 0, 0, 0.8); /* Cambio de color al pasar el ratón */
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  filter: invert(100%);
}

.carousel-indicators li {
  width: 12px; /* Ajustar ancho */
  height: 12px; /* Ajustar altura */
  border-radius: 50%;
  background-color: rgba(60, 2, 167, 0.7); /* Color de fondo más visible */
  transition: background-color 0.3s ease; /* Transición de color */
}

.carousel-indicators li.active {
  background-color: #6c63ff; /* Color activo */
}

.carousel-container {
  max-width: 600px;
  margin: auto;
  margin-top: 20px;
  background: linear-gradient(45deg, #B1AFFF, #B1AFFF);
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2); /* Sombra más pronunciada */
  text-align: center;
  color: white;
  transition: transform 0.3s ease;
}

.carousel-container:hover {
  transform: scale(1.02); /* Escalar al pasar el ratón */
}

body {
  background-color: #ffffff;
  padding: 20px;
}

.navbar {
  background-color: #B1AFFF !important;
  border-radius: 50px;
  padding: 0.5rem 2rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra más pronunciada */
  transition: background-color 0.3s ease; /* Transición de color de fondo */
}

.navbar:hover {
  background-color: #9f8ad0 !important; /* Cambio de color al pasar el ratón */
}

.navbar .navbar-brand {
  color: #ffffff !important;
}

.navbar .navbar-nav .nav-link {
  color: #ffffff !important;
  transition: color 0.3s ease; /* Transición de color */
}

.navbar .navbar-brand:hover,
.navbar .navbar-nav .nav-link:hover {
  color: #000000 !important;
}

@media (max-width: 768px) {
  .navbar .container {
    max-width: 100%;
  }

  .navbar .navbar-toggler {
    display: block;
  }

  .navbar .navbar-collapse {
    display: none;
    text-align: center;
    transition: opacity 0.3s ease;
  }

  .navbar .navbar-collapse.show {
    display: block;
    opacity: 1;
  }

  .navbar .navbar-nav {
    width: 100%;
    display: block;
    border-top: 1px solid #eee;
    margin-top: 1rem;
  }

  .navbar .navbar-nav .nav-item {
    border-bottom: 1px solid #eceef3;
  }
}

.dropdown-menu {
  background-color: rgba(180, 105, 230, 0.8);
  border: none;
  transition: background-color 0.3s ease; /* Transición de color */
}

.dropdown-menu a.dropdown-item {
  color: #ffffff;
  transition: background-color 0.3s ease; /* Transición de color */
}

.dropdown-menu a.dropdown-item:hover {
  background-color: rgba(0, 0, 0, 0.3); /* Cambio de color al pasar el ratón */
}

.dropdown-divider {
  background-color: #ffffff;
}

.dropdown-menu .dropdown-divider:last-child {
  display: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  scroll-behavior: smooth;
}

html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  font-family: 'Open Sans', sans-serif;
  transition: background-color 0.3s ease; /* Transición de color de fondo */
}

.contenedor {
  width: 90%;
  max-width: 1200px;
  overflow: hidden;
  margin: auto;
  padding: 60px 0;
  flex: 1 0 auto;
}

.header {
  height: 100vh;
  background-image: linear-gradient(to top, rgba(251, 194, 235, 0.486) 0%, hsla(218, 68%, 79%, 0.514) 100%), url(https://picsum.photos/200/300);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  transition: background-size 0.3s ease; /* Transición de tamaño de fondo */
}

.header:hover {
  background-size: 110%; /* Ampliar el fondo al pasar el ratón */
}

.head {
  padding: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  color: #070505;
}

.hamburguer {
  position: fixed;
  top: 30px;
  right: 10px;
  background: #fff;
  width: 40px;
  height: 40px;
  cursor: pointer;
  border-radius: 10px;
  box-shadow: 0 0 6px rgba(0, 0, 0, .5);
  transition: background-color 0.3s ease; /* Transición de color de fondo */
}

.hamburguer:hover {
  background-color: #f0f0f0; /* Cambio de color al pasar el ratón */
}

.menu-navegacion {
  position: fixed;
  top: 0;
  width: 15vw;
  height: 100%;
  background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  right: 0;
  transform: translateX(110%);
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease; /* Transiciones */
  box-shadow: 0 0 6px rgba(0, 0, 0, .5);
}

.menu-navegacion.spread {
  transform: translateX(0);
}

.menu-navegacion a {
  color: #fff;
  text-decoration: none;
  transition: color 0.3s ease; /* Transición de color */
}

.menu-navegacion a:hover {
  color: #f0f0f0; /* Cambio de color al pasar el ratón */
}

.titulo {
  font-size: 60px;
  margin-bottom: 15px;
}

.copy {
  font-weight: 300;
  font-size: 25px;
}

.subtitulo {
  color: #9f8ad0;
  font-size: 40px;
  text-align: center;
  font-weight: 300;
  margin-bottom: 30px;
}

.contenedor-servicio {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

.contenedor-servicio img {
  width: 40%;
  transition: transform 0.3s ease; /* Transición de escala */
}

.contenedor-servicio img:hover {
  transform: scale(1.05); /* Escalar imagen al pasar el ratón */
}

.caja-servicio {
  text-align: center;
  padding: 10px;
}

#titulo-h {
  font-size: 50px;
}

#descripcion-h {
  font-size: 22px;
  margin-top: 15px;
  color: #2a2b2d;
}

.btn {
  background-color: #B1AFFF;
  border: none;
  color: #fff;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease; /* Transición de color de fondo */
}

.btn:hover {
  background-color: #9f8ad0; /* Cambio de color al pasar el ratón */
}

form {
  width: 100%;
  max-width: 600px;
  margin: auto;
}

input[type="text"],
input[type="email"],
input[type="password"],
textarea {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  transition: border-color 0.3s ease; /* Transición de color de borde */
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
textarea:focus {
  border-color: #6c63ff; /* Color de borde al enfocar */
  outline: none;
}

input[type="submit"] {
  background-color: #6c63ff;
  border: none;
  color: #fff;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease; /* Transición de color de fondo */
}

input[type="submit"]:hover {
  background-color: #5a54e1; /* Cambio de color al pasar el ratón */
}

@media (max-width: 768px) {
  .contenedor-servicio {
    flex-direction: column;
  }

  .contenedor-servicio img {
    width: 80%;
  }
}

/* Estilo del footer (sin cambios) */

footer {
  background: #9f8ad0;
  padding: 1px 1px; /* Ajustado el padding superior e inferior */
  margin: 0; /* Eliminado el margen inferior */
  font-size: 15px; /* Tamaño de fuente reducido */
  width: 100%; /* Asegurando que ocupe el ancho completo de la página */
  bottom: 0;
  left: 0;
  
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 0 20px; /* Añadido padding lateral */
}

.contact-us {
  width: 40%;
  color: #fff;
  text-align: center; /* Centrando el texto */
}

.brand {
  font-weight: 500;
  font-size: 20px; /* Reducido el tamaño de la fuente */
}

.brand + p {
  font-weight: 500;
}

.social-media {
  width: 50%;
  display: flex;
  justify-content: flex-end;
}

.social-media-icon {
  display: inline-block;
  margin-left: 15px; /* Reducido el margen izquierdo */
  width: 30px; /* Reducido el tamaño */
  height: 30px; /* Reducido el tamaño */
  border: 1px solid #fff;
  border-radius: 50%;
  text-align: center;
  color: #fff;
}

.social-media-icon i {
  font-size: 13px; /* Reducido el tamaño del ícono */
  line-height: 30px; /* Alineado con el tamaño del contenedor */
}

.social-media-icon:hover {
  background: #fff;
  color: #764ba2;
}

.line {
  width: 90%;
  max-width: 1200px;
  margin: auto;
  height: 1px; /* Reducido el grosor de la línea */
  background: #fff;
  margin-bottom: 15px; /* Reducido el margen inferior */
}

.social-media-icon:hover {
  background: #fff;
  color: #764ba2;
}

@media screen and (max-width: 800px) {
  .footer-content {
      justify-content: center;
      padding: 10px 0;
  }

  .social-media {
      width: 80%;
      justify-content: space-evenly;
  }

  .social-media-icon {
      margin-left: 0;
      width: 40px;
      height: 40px;
  }

  .contact-us {
      text-align: center;
      width: 80%;
      margin-bottom: 20px;
  }
}

@media screen and (max-width: 800px){
  .menu-navegacion{
      width: 50vw;
  }

  .titulo{
      font-size: 40px;
  }

  .contenedor-servicio img{
      width: 80%;
      margin-bottom: 40px;
  }
  
  .checklist-servicio{
      width: 80%;
  }

  .service{
      margin-bottom: 30px;
  }

  .img-galeria{
      width: 45%;
  }
  
  .agregarImagen{
      width: 80%;
  }

  
  .cont-expert{
      width: 80%;
  }
  
  .footer-content{
      justify-content: center;
  }

  .social-media{
      width: 80%;
      justify-content: space-evenly;
  }

  .social-media-icon{
      margin-left: 0;
  }

  .contact-us{
      text-align: center;
      width: 80%;
      margin-bottom: 40px;
  }
  
}


@media screen and (max-width: 500px){
  .menu-navegacion{
      width: 65vw;
  }

  .hamburguer{
      top: 20px;
      right: 20px;
  }

  .titulo{
      font-size: 30px;
  }

  .subtitulo{
      font-size: 30px;
  }

  .img-galeria{
      width: 95%;
  }
  
  .agregar-imagen{
      width: 90%;
  }

  .social-media{
      width: 100%;
      justify-content: space-evenly;
  }

  .social-media-icon{
      margin-left: 0;
  }

  .contact-us{
      text-align: center;
      width: 95%;
      margin-bottom: 40px;
  }
  
}

@media screen and (max-width: 800px){
  .menu-navegacion{
      width: 50vw;
  }

  .titulo{
      font-size: 40px;
  }

  .contenedor-servicio img{
      width: 80%;
      margin-bottom: 40px;
  }
  
  .checklist-servicio{
      width: 80%;
  }

  .service{
      margin-bottom: 30px;
  }

  .img-galeria{
      width: 45%;
  }
  
  .agregarImagen{
      width: 80%;
  }

  
  .cont-expert{
      width: 80%;
  }
  
  .footer-content{
      justify-content: center;
  }

  .social-media{
      width: 80%;
      justify-content: space-evenly;
  }

  .social-media-icon{
      margin-left: 0;
  }

  .contact-us{
      text-align: center;
      width: 80%;
      margin-bottom: 40px;
  }
  
}
