.navbar-brand img {
    max-width: 60px; 
    height: auto;
    position: relative; 
  }
.carousel-item img {
    width: 100%; /* Ancho completo del contenedor */
    height: auto; /* Altura automática para mantener la proporción */
    object-fit: cover; /* Ajuste para cubrir el contenedor */
  }
  
  .carousel-control-prev,
  .carousel-control-next {
    width: 3%; /* Ancho reducido de los controles */
    background-color: rgba(255, 255, 255, 0.5); /* Fondo semi-transparente para los controles */
    color: #007bff; /* Color de los controles */
  }

  .carousel-control-prev-icon,
  .carousel-control-next-icon {
    filter: invert(100%); /* Iconos de controles invertidos para mejor visibilidad */
  }

  .carousel-indicators li {
    width: 10px; /* Ancho de los indicadores */
    height: 10px; /* Altura de los indicadores */
    border-radius: 50%; /* Forma redondeada para los indicadores */
    background-color: rgba(60, 2, 167, 0.5); /* Color de fondo semi-transparente */
  }

  /* Estilos para el contenedor del carrusel */
  .carousel-container {
    max-width: 600px; /* Ancho máximo del contenedor del carrusel */
    margin: auto; /* Centrar el contenedor en la página */
    margin-top: 20px; /* Espacio superior opcional */
    background: linear-gradient(45deg, #B1AFFF, #B1AFFF); /* Fondo con gradiente diagonal */
    border-radius: 10px; /* Bordes redondeados para el contenedor */
    padding: 20px; /* Espaciado interior del contenedor */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra ligera */
    text-align: center; /* Centrar el texto */
    color: white; /* Color del texto */
  }

  body {
    background-color: #ffffff; /* Color de fondo del cuerpo de la página */
    padding: 20px; /* Espaciado interior general */
  }
  .navbar {
    background-color: #B1AFFF !important; /* Color de fondo rgba con transparencia */
    border-radius: 50px;
    padding: 0.5rem 2rem;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 10);
  }

  .navbar .navbar-brand {
    color: #ffffff !important; /* Color blanco para el texto */
  }

  .navbar .navbar-nav .nav-link {
    color: #ffffff !important;
  }

  .navbar .navbar-brand:hover,
  .navbar .navbar-nav .nav-link:hover {
    color: rgb(0, 0, 0) !important; /* Cambio de color al pasar el mouse */
  }

  @media (max-width: 768px) {
    .navbar .container {
      max-width: 100%;
    }

    .navbar .navbar-toggler {
      display: block;
    }

    .navbar .navbar-collapse {
      display: none;
      text-align: center;
    }

    .navbar .navbar-collapse.show {
      display: block;
    }

    .navbar .navbar-nav {
      width: 100%;
      display: block;
      border-top: 1px solid #eee;
      margin-top: 1rem;
    }

    .navbar .navbar-nav .nav-item {
      border-bottom: 1px solid #eceef3;
    }
  }
  .dropdown-menu {
    background-color: rgba(180, 105, 230, 0.8); 
    border: none;
  }
  
  .dropdown-menu a.dropdown-item {
    color: #ffffff; 
  }
  
  .dropdown-menu a.dropdown-item:hover {
    background-color: rgba(0, 0, 0, 0.2); 
  }
  
  .dropdown-divider {
    background-color: #ffffff; 
  }
  
  .dropdown-menu .dropdown-divider:last-child {
    display: none; 
  }
  